<?xml version="1.0" encoding="utf-8" ?>
<jsp:root 
	 xmlns:jsp="http://java.sun.com/JSP/Page"
	 xmlns:c="http://java.sun.com/jsp/jstl/core"
	 xmlns="http://www.w3.org/1999/xhtml"
	 version="2.0">

	<jsp:directive.page contentType="text/html" pageEncoding="UTF-8" 
						session="true" />
 	 <jsp:output omit-xml-declaration="true" />
 	 
	   <div id="page-sidebar-left">
		   <div class="sidebar-block">			   
			<h3>Categories</h3>
			<div id="category-links">
				<ul class="no-style-links">
					<c:forEach var="eachCategory" items="${categoriesList}">
					
					<c:choose>
					<c:when test="${(not empty category) and (category.id eq eachCategory.id)}">
					<li class="selected">
						<a href="${pageContext.request.contextPath}/browse/${eachCategory.id}" 
						   title="${eachCategory.description}">
							<img src="${pageContext.request.contextPath}/res/images/icons/cat${eachCategory.id}.png"
								 alt="${eachCategory.id}" />
							${eachCategory.name}
						</a>
					</li>						
					</c:when>
					<c:otherwise>
					<li>
						<a href="${pageContext.request.contextPath}/browse/${eachCategory.id}" 
						   title="${eachCategory.description}">
						   <img src="${pageContext.request.contextPath}/res/images/icons/cat${eachCategory.id}.png" 
						   	 	alt="${eachCategory.id}" />
							${eachCategory.name}
						</a>
					</li>					
					</c:otherwise>	
					</c:choose>	
					</c:forEach>					
					<li class="view-all">
						<a href="${pageContext.request.contextPath}/browse" title="View All Categories">
							&gt; View All Categories
						</a>
					</li>  							
				</ul>
				
			</div>
		   </div>
							
		   <div class="sidebar-block ui-vspace-margin-large">			   
			   <form name="express-cart-add"  method="post" class="block-form express-add-cart"
					 action="${pageContext.request.contextPath}/cart/add">
				   <fieldset>
					   <legend class="h3">
					   		<img src="${pageContext.request.contextPath}/res/images/icon-express-cart.png" alt="cart" />Express Add to Cart
					   </legend>
					   <h4 class="sidebar-info">Enter Item number and Quantity:</h4>
					   <div class="ui-hspace ui-vspace">						
						<label>Item Number</label>
						<input type="text" name="item_number" placeholder="Item number#"
							   required="required" />
					   </div>
					   <div class="ui-hspace">						
						<label>Quantity</label>
						<input type="number" name="item_quantity" min="1" value="1" required="required" />						
						<input type="submit" name="cart_add" value="Express Add to Cart" 
							   class="ui-button ui-button-info" />						
					   </div>
				   </fieldset>
				   
				   
				   
			   </form>	   
			   
		   </div>				
		</div>
 			
</jsp:root> 			