<?xml version="1.0" encoding="utf-8" ?>
<jsp:root 
 	xmlns:jsp="http://java.sun.com/JSP/Page"
 	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt" 	
 	xmlns="http://www.w3.org/1999/xhtml"
	version="2.0">
 
	<jsp:directive.page contentType="text/html" pageEncoding="UTF-8" 
						session="true" />	
 	<jsp:output omit-xml-declaration="true" />
 	<jsp:output doctype-root-element="HTML" 
 				doctype-system="about:legacy-compat" />
 <html lang="en">
 <jsp:include page="includes/htmlheader.jspx" flush="true" />
 <body>
 	<div id="page-wrap">		
	 	<!--  pageheader -->
		<jsp:include page="includes/pageheader.jspx" flush="true" />
		
 		<div id="page-content-wrap">
 		
 			<!-- sidebar-left -->
			<jsp:include page="includes/sidebarleft.jspx" flush="true" />
 		
 			<div id="page-content"> 								
				<div class="ui-featured-block ui-wide no-space">
					<h1 class="no-space">
						Shopping Cart 
						<em>Items to buy</em>
					</h1>
					<c:if test="${not empty errorMsg}">
						<div class="error">${errorMsg}</div>
					</c:if>
									
					<c:choose>
						<c:when test="${(empty cart) or (cart.itemsCount == 0)}">
							<h3>You do not have any items in your cart</h3>
						</c:when>
						<c:otherwise>
							
						<form name="cart_form" id="cart-form" method="post" 
							  action="${pageContext.request.contextPath}/cart/update" 
							  enctype="application/x-www-form-urlencoded"
							 >
							<table>
								<thead>
								<tr>
									<th>Item Description</th>
									<th>Price</th>
									<th>Quantity</th>
									<th>Total</th>
								</tr>
								</thead>
								<tbody>
								<!-- iterate over the items -->
								<c:forEach items="${cart.cartItems}" varStatus="count" var="item">
								<tr>
									<td>
										<h4>${item.key.name}</h4>
										<h5 class="ui-number">Item #: ${item.key.number}</h5>											
									</td>
									<td>
										<fmt:formatNumber value="${item.key.price}" type="currency"/>
									</td>
									<td>
										<input type="hidden" name="item_number[]" value="${item.key.number}" />
										<input type="text" class="cart-quantity input-small-width center" 
											name="item_quantity[]" value="${item.value}" required="required" />
									</td>
									<td>
										<fmt:formatNumber value="${item.key.price * item.value}" type="currency"/>
									</td>
								</tr>
								</c:forEach>
								</tbody>
							</table>
							<div class="center">
								<a href="${header.referer}" title="Continue Shopping" class="ui-button">
									Continue Shopping
								</a> 
								<input type="submit" name="cart_update" class="ui-button ui-hspace" value="Update" />										 
							</div>
						</form>
													  
							  
						<form name="checkout_form" id="checkout-form" method="post"
							  action="${pageContext.request.contextPath}/cart/checkout" 
							  enctype="application/x-www-form-urlencoded">
							<h2 class="no-space">
								Order Summary
								<em>Your Running Total with Tax</em>
							</h2>
							
							<table class="ui-width-full">
								<tr>
									<td>Cart Subtotal</td>
									<td>
										<fmt:formatNumber value="${cart.total}" type="currency"/>										
									</td>
								</tr>
								<tr>
									<td>Tax </td>
									<td>
										<fmt:formatNumber value="${cart.tax}" type="currency"/>
									</td>
								</tr>
								<tr>
									<td>Shipping </td>
									<td>
										<fmt:formatNumber value="${cart.shipping}" type="currency"/>
									</td>
								</tr>
								<tr>
									<td><b>Grand Total</b></td>
									<td>
										<b>
											<fmt:formatNumber value="${cart.grandTotal}" type="currency"/>
										</b>	
									</td>
								</tr>								
							</table>
							<div class="ui-vspace right">
								<input type="submit" name="cart_checkout"
									   class="ui-button" value="Checkout" />
							</div>
						</form>	
						</c:otherwise>	
					</c:choose>
				</div>	
								
 			</div>
 			
 			<div class="clear"><jsp:text/></div>
 		</div>	
 		
	 	<!--  footer -->
		<jsp:include page="includes/footer.jspx" flush="true" />
 	</div>	
 </body>
 </html>
</jsp:root>