/**
 * CSS for the eCommerce App.
 * 
 * Best Practices for CSS development were followed (wherever possible): 
 * https://developer.mozilla.org/en-US/docs/CSS/Writing_Efficient_CSS
 *
 * @author Abdullah Rubiyath
 *
 */

/* reset/override the browser css */
body, h1, h2, h3, h4, h5, h6, p, a, span div, ul, input, li, table, 
th, tr, td, fieldset, legend { 
	padding: 0; margin: 0; border: 0;
	text-decoration: none; 
	font-weight: normal;
}

/* now add custom css 
 * Set the font-size of body to 100% which by default is 16px 
 * thus later font-sizes/padding/margin etc. can be set proportionally. 
 */

/* start of default styling all across the app */
body {
	font: normal 100% Arial, Georgia, Helvetica, serif;
	/* background: url(../images/bg-tiled.gif) repeat; */
}

p { padding: 0.25em; }
.clear { clear: both !important; }
.hide { display: none !important; }
.absolute { position:absolute; }
.relative { position: relative; }
a { color: #000; }

input[type="text"], input[type="number"] {
	border: solid 1px #ccc;
}

input[type="text"]:focus, input[type="number"]:focus {
	background-color: #ff9;
}

input, select {
	padding: 0.25em;
}

.input-small-width {
	width: 5em;
}

/*
 * font-size calculation (adaptive design)
 * target-size / context = result in ems
 */
h1, h2 {
	font-size:  1.2em; /* 20px / 16px */	
	color: #E47911;
	padding: 0 0.5em;
}

h1 em, h2 em {
	color: #666;
	font-size: 0.8em;
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

h3, .h3 {
	font-size: 1.15em;
	color: #79A618;
	padding: 0.5em;	
	border-radius: 0.5em 0.5em 0 0;
}

h4, h5, h6 {
	font-weight: normal;
	font-size: 0.9em;
	padding: 0.25em;
}

h6 {
	color: #06C;
}

.no-style-links li {
	list-style: none;
	list-style-type: none; 
}

.no-border {
	border: none;
}

.copyright-info {
	padding: 1em;
}

table {
	border-collapse: collapse;
}

td, th {
	border: solid 1px #ccc;
}

th, td {
	text-align: left;
	padding: 0.5em;
}

/* styling for header i.e. first tr (which is header) */
thead {
	background-color: #79A618;
	color: #fff;
}

.order-links li {
	margin-left: 2em;
	margin-bottom: 0.25em;
}

.order-links li a {
	display:inline-block;
	background-color: #eee;
	padding: 0.5em 1em;
}

.order-links li a:hover {
	color: #fff;
	background-color: #06C;
}

/* end of default styling all across the app */



/*** start of page/layout related CSS **/

#page-wrap {
	/* background-color: #fff; */
}

.width-wrap, #page-content-wrap {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}


#page-sidebar-left {
	float: left;
	width: 22.449%; 	/* 220px / 980 px = 22.449% */
}

.sidebar-block {
	background-color: #F9F8F7;
	border: 1px solid #E1E1E8;
}

.sidebar-info {
	border-bottom: dotted 1px #CCC;
	padding: 0.5em;
}

#page-content-wrap {
	margin-top: 1em;
}

#page-content {
	float: right;
	width: 76.53%  /* 750px / 980px */ 
}


#page-sidebar-right {
	float: right;
	width: 26.6667% /* 200px / 750px */
}

#page-footer {
	font-size: 0.8em;
	text-align: center;
	border-top: dotted 1px #aaa;
	margin-top: 0.25em;
	padding-top: 0.25em;
}

#page-footer ul li {
	display: inline-block;
	padding: 0.5em 3em;
}

#page-footer a {
	color: #06c;
}

#page-footer a:hover {
	text-decoration: underline;
}
/** End of page/layout **/




/***** Start of nav-links **********/
#nav-links ul {
	text-align: right;
	padding-top: 1.25em;	
}


#nav-links ul li, #nav-bar ul li {
	display: inline-block;
}


#nav-links ul li a {
	display: block;
	padding: 0.2em 0.5em;
	font-size: 0.75em;
	border-radius: 5px;	
	border: solid 2px transparent;
	color: #06c;		
}

#nav-links ul li a:hover {
	background: #555;
	color: #eee;	
}

#nav-links ul li:last-child {
	border-right: none;
}



/***** End of nav-links CSS **********/


/** Start of Nav-bar, CSS for search field and cart button */
#primary-search-form {
	float: left;
	width: 50%;
	font-size: 0.85em;
	margin-left: 2em;
	margin-top: 0.45em;		
}

#nav-bar {
	position: relative;
}

#nav-bar-wrap {
	font-size: 0.85em;
	font-size: 1em;
	margin-top: 0.5em;
	padding-bottom: 0;
	border-top: solid 1px #eaeaea;
	box-shadow: 0 0.25em 0.5em #bbb;
}

/* CSS 3 gradient */
#nav-bar-wrap {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */	
}


#nav-bar form input[type="text"] {
	width: 75%;
	padding: 0.4em;
}

#nav-bar form input[type="submit"] {
	border-radius: 0 0.5em 0.5em 0;
	padding: 0.45em;
}

#nav-bar ul {
	font-size: 0.95em;
	float: left;
}

#nav-bar ul.cart-links {
	float: right;
}

#nav-bar ul li a {
	padding: 0.6em 1em;
	display: block;
	line-height: 1.5em;
}

#nav-bar ul li:hover a {
	background-color: #333;
	color: #fff;
}

#nav-cart {
	border-right: none;	
} 

#nav-cart:hover #nav-cart-details {
	display: block;
}

#nav-cart-details {
	font-size: 0.8em;
	display: none;
	position:absolute;
	width: 25%; /* 200px / 980px = 25% */
	border: solid 2px #79A618;
	padding: 1em;
	right: 0; 
	border-radius: 0 0 5px 5px;
	background-color: #fff;
	box-shadow: 0.5em 0.5em 0.5em #666;
	z-index: 1;
}

.cart-count {
	background-color: #E47911;
	padding: 0em 0.25em;
	color: #fff;
	font-size: 0.8em;
	border-radius: 0.5em;
}

#search-result {
	display: block;
	position: absolute;
	width: 75%;
	z-index: 5;
}

#hide-search-result {
	display: block;
	position: absolute;
	width: 12%;
	z-index: 10;
	top: 0;
	right: 0;
	margin-top: -1.5em;
	background-color: #06c;
	color: #fff;
	padding: 0.25em;
	border-radius: 0.25em 0.25em 0 0;
	cursor: pointer;
}

#search-result h4, #search-result h5, #search-result h6 {
	font-size: 1em;
}

#search-result ul {
	width: 100%;
	float: none;
}

#search-result-links li {
	border: solid 1px #ccc;
	display: block;
	width: 100%;
	background-color: #fff;
	border-bottom: none;
	padding: 0; margin: 0;
}

#search-result-links li:last-child {
	border: solid 1px #ccc;
}

#search-result-links li:hover {
	background-color: #06C;
	color: #fff;
	cursor: pointer;
}

#search-result-links li.search-link {
	border-radius: 0 0 5em 5em;	
}

#search-result-links li a {
	padding: 0.5em !important;
	margin: 0;
}


/** End of Nav-bar CSS */




/* Start of Sidebar left related CSS */
#category-links ul li {
	border-bottom: dotted 1px #ccc;
	font-size: 0.9em;
  	transition: background .2s ease-in-out;
   	-moz-transition: background .2s ease-in-out;
   	-webkit-transition: background .2s ease-in-out;	
}

#category-links ul li:hover {
	background-color: #79A618;
}

#category-links ul li.selected {	
    background-color: #ccc;
    margin-right: -0.5em;
    border-radius: 0 0.5em 0.5em 0;
    color: #fff;
}

#category-links ul li a {
	display:block;
	padding: 0.5em;
}

#category-links ul li a.view-all {
	border-top: dashed 1px #ccc;
	padding-left: 0.75em;
	color: #000;
}

#category-links ul li:hover a {
	color: #fff;
}

/* End of Sidebar-left related CSS */

#cart-form {
	border-bottom: dashed 1px #ccc;
	margin-bottom: 1em;
	padding-bottom: 1em
}


#cart-form table, #checkout-form table {
	width: 100%;
	margin: 1em 0;
}




/* ui related CSS, such as buttons, input boxes, featured blocks, list blocks etc. */
.ui-button, input[type="submit"] {
	background-color: #79A618;	
	border: 0;
	padding-bottom: 0.4em;
	color: #fff;
	cursor: pointer;
}

.ui-button {
	padding: 0.5em;
	font-size: 0.9em;
}

.ui-button-action {
	
}

.ui-button-info {
	background-color: #555;
	color: #fff;		
}

.ui-block {
	border-bottom: dotted 1px #79A618;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.ui-block:last-child {
	border-bottom: none;
}

.ui-block h4 {
	font-family: Clarendon, Georgia, Arial;
	font-size: 1.2em;
	color: #333;
}

.ui-featured-block {
	width: 30%;
	border: dashed 1px #bbb;
	float: left;
}

.ui-featured-block {
	margin: 0.5em;
}

.ui-wide {
	float: none;
	width: 99%;
	border-radius: 5px;
	border: none;
}

.ui-medium-wide {
	width: 50%;
}

.ui-number {
	color: #06c;
}

.ui-price {
    /* background-color: #E47911; */
    border-radius: 0 1em 1em 0;
    color: #E47911;
    margin-left: -0.4em;
    padding: 0.25em 0.5em;
    width: 50%;
    /* margin-top: 0.5em; */
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-family: 'Oswald', Cambria, Georgia;
}

.ui-price-circle {
	width: 0.75em;
	height: 0.75em;
	border-radius: 0.75em;
	background-color: #eee;
	float: right;
	display: block;	
	margin-top: 0.2em;
	
}

.ui-price em {
	font-size: 0.7em;
	padding-left: 0.5em;
}

.ui-block-view-all {
	display: inline-block;
	margin-left: 0.5em;
	background-color: #ddd;
	padding: 0.25em 0.5em;	
	border: 1px solid #ccc;
	border-radius: 0.5em;
}

.ui-add-cart-form {
	border-top: dotted 1px #ccc;
	padding-left: 0.5em;
	padding-bottom: 0.5em;
}

.ui-info {
	margin: 0.5em;
}

.ui-info h3 {
	border-bottom: solid 1px #ccc;
	margin: 0;
	padding: 0.25em 0;
}

.ui-padding-medium {
	padding: 0.5em;
}

.ui-padding-right-medium {
	padding-right: 0.5em;
}

.ui-hspace { margin-left: 1em; margin-right: 1em;}

.ui-button-medium {
	padding-right: 1em;
	padding-left: 1em;
}

#logo h5 {
	font-size: 1.5em;
	font-family: "Droid Sans",Helvetica,Arial,sans-serif;
	padding-left: 1em;
	float: left;
	padding: 0.5em;
	text-shadow: 1px 1px #ccc;
}

#logo h5 a {
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	color: #333;
	padding: 0.25em;
	border-radius: 0.25em;
}


.ui-button {
	
}

.ui-width-small {
	width: 25%;
}

.ui-vspace {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.ui-vspace-large {
	padding-top: 1em;
	padding-bottom: 1em;
}

.ui-vspace-margin-large {
	margin-top: 1em;
	margin-bottom: 1em;
}

.ui-margin-medium {
	margin: 0.5em;
}

.ui-width-full {
	width: 99% !important;
	float: none !important;
}

.ui-width-medium {
	width: 50%;
}

.block-form label {display: block;}
.block-form input {
	padding: 0.5em;
	border: solid 1px #ccc;
	margin: 0.5em 0;
}
.ui-vspace-margin {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.no-space {margin: 0; padding: 0;}
.center {text-align: center;}
.right {text-align: right; }

#cart-form {
	float: left;
	width: 70%;
}

#checkout-form {
	float: right;
	width: 27%;
}

.item-details {
	min-height: 8em;
}
/* end of UI related CSS */


/* Error/Success Messages related to CSS --> 
 * Source: 
 * http://www.bookofzeus.com/articles/css-message-boxes/ 
 */
  
.info, .success, .warning, .error {
    border: 1px solid;
    margin: 15px 0px;
    padding:15px 20px 15px 55px;
    width: 500px;	
    font: bold 12px verdana;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.success {
    color: #4F8A10;
    background: #DFF2BF url('../images/icon-tick.png') no-repeat 10px center;
}


.error {
    color: #D8000C;
    background: #FFBABA url('../images/icon-cross.png') no-repeat 10px center;
}


/****** END OF ERROR/Success MESSAGES */



/* anything <= 1024 => we use 99% of screen width */
@media screen and (max-width: 1024px) {
	.width-wrap, #page-content-wrap {
		width: 99%;
	}
	
	.ui-featured-block {
		display: block;
		float: none;
		width: 97%;
	}
	
	.ui-vspace-margin-large {
		margin-top: 2em;
		margin-bottom: 1em;
	}
	
	.item-details {
		float: left;
		width: 50%;
	}
	.ui-add-cart-form {
		float: right;
		width: 40%;
		border: none;
		background-color: #eee;
		padding-bottom: 1em;
	}
	
	.ui-add-cart-form fieldset legend {
		display: block !important;
		padding: 1em 0;
	}
	
	.ui-button, input[type="submit"] {
		padding: 0.75em 1em;
	}	
}


/* responsive css queries, ipad devices (ipad 1), replace this with device-width later! */
@media screen and (min-width: 480px) and (max-width: 1024px)
{	
	.ui-featured-block {
		display: block;
		float: none;
		width: 99%;
	}
	
	#page-sidebar-left {
		width: 25%;
	}
	
	#page-content {
		width: 72%;
	}
	
	#category-links ul li a {
		padding: 0.75em;
	}
	
}


/* Smartphones (iphone 3g/3gs etc. (portrait and landscape) ----------- 
@media only screen 
and (min-device-width : 310px) 
and (max-device-width : 480px) {
/* Styles 

}
*/

/* regular smartphone including iphone 3g/3gs  */
@media only screen and (max-width : 759px) {
/* Styles */
	#primary-search-form { display: block; float: none; }
	#nav-bar ul.cart-links { float: none; }
	#nav-bar form { padding-bottom: 0.5em; }
	#primary-search-form { width: auto; }
	.express-add-cart { display: none; }
	#page-sidebar-left { width: 99%; float: none;}
	#page-content {float: none; width: 99%; }
	#nav-cart-details { display: none !important; }
	#cart-form { float: none; width: 100%; }
	#checkout-form {float: none; width: 100%; }
	.ui-medium-wide { width: 100%; }
	#nav-bar-checkout { display: none; }
	#logo ul { display: none; }
}

/* iPhone 4/5 */
@media only screen and (max-device-width: 480px) {
/* Styles */

	#primary-search-form { display: block; float: none; }
	#nav-bar ul.cart-links { float: none; }
	#nav-bar form { padding-bottom: 0.5em; }
	#primary-search-form { width: auto; }
	.express-add-cart { display: none; }
	#page-sidebar-left { width: 99%; float: none;}
	#page-content {float: none; width: 99%; }
	#nav-cart-details { display: none !important; }
	#cart-form { float: none; width: 100%; }
	#checkout-form {float: none; width: 100%; }
	.ui-medium-wide { width: 100%; }
	#nav-bar ul li a { font-size: 0.8em !important; }
	#nav-bar-checkout { display: none; }	
	#logo ul { display: none; }
		
	.item-details {
		float: left;
		width: 50% !important;
	}
	
	.ui-add-cart-form {
		float: right;
		width: 40% !important;
		border: none;
		background-color: #eee;
		padding-bottom: 1em;
	}	

}